table , td , tr ,th{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
}
table{
    margin-left: 150px;
    margin-top: 100px;
}

div {
    background-color: red;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 35px;
}
button{
    border: none;
}
input{
    font-size: 35px;
    margin: auto;
}