
* {
    box-sizing: border-box;
}
header
{
    background-color: black;
    color:white;
    margin: auto;
    font-size: 50px;
    text-align: center;
    padding:70px;

}
footer
{
    margin:auto;
    font-size: 15px;
    text-align: center;
    background-color:black;
    color:white;
    padding: 20px;

}
article
{
    width:70%;
    font-size:20px;
    text-align: justify;
    border-collapse: collapse;
    border-left: 3px solid grey;
    padding: 15px;
    float: left;
}
aside
{
    width:30%;
    float: left;
    font-size:20px;
    padding-top: 20px;


}
section
{
    display: table;
    border-left: 1px solid black;
    border-collapse:collapse;
    border-right: 1px solid black;
}
body
{
    width: 50%;
    margin:auto;
    padding-top: 20px;
}
ul li
{
    list-style-type:none;
}
a:link
{
    text-decoration: none;
}
