* {
    box-sizing: border-box;
    font-family: OpenSans, sans-serif;
}

@font-face {
    font-family: OpenSans;
    src: url('Fonts/OpenSans-Light.ttf');
}

ul.a {
    list-style: none;
    text-align: left;
    padding: 0;
}

#accordion > div > div > h4 > button {
    text-decoration: none;
    text-underline: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: white;
    text-align: left;
}

#accordion > div > div > h4:before {
    margin: 0;
}

#accordion > div > div > h4 > button#a1:after,
#accordion > div > div > h4 > button.acc:not(.collapsed):after{
    content: "-";
    float:right
}
#accordion > div > div > h4 > button#a2:after,
#accordion > div > div > h4 > button#a3:after,
#accordion > div > div > h4 > button.collapsed:after{
    content: "+";
    float:right;
}
#accordion > div > div > h4 > button#a2,
#accordion > div > div > h4 > button#a3{
    background-color: white;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 0;
}
#accordion > div > div > h4 > button#a1{
    margin-top: -1px ;
    margin-left: -0.1px ;
}

#accordion > div > div > h4 > button.acc:not(.collapsed),
#accordion > div > div > h4 > button#a1{
    background-color: #269abc;
    border-radius: 5px 5px 0 0;
    margin-top: -1px ;
    margin-left: -0.1px ;
}

#accordion > div > div {
    padding: 0;
    margin: 0;
}
#accordion > div {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

#light-black-bg{
    background-color: #191E21;
}

li.a::before {
    color: white;
    background-color: red;
    text-align: center;
    margin-right: 10px;
    font-size: 11px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    content: "\1f852";
    line-height: 30px;
}

#light-black-bg > div > div > div > div > div > button > span:before{
    content: "\203A";
    font-size: 16px;
    color: white;
}
#light-black-bg > div > div > div > div > div > .btn-1{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    padding: 10px 15px;
}

#footer-search > button {
    position: absolute;
    right: 0;
    padding: 3.2px 6px;
    width: 15%;
    border-radius: 0 5px 5px 0;
}
#footer-search > input {
    width: 85%;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
}

#recent-posts > div > img{
    position: absolute;
    left: 0;
    top: 15px;
}
#recent-posts > div{
    margin-bottom: 10px;
}
#recent-posts > button{
    border: 1px solid #1ccdca;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.2);
    color:#1ccdca;
}
#recent-posts > button:before{
    content: "\279C";
    font-size: 13px;
    color: #1ccdca;
}
#recent-posts > button:hover:after{
    content: "\279C";
    font-size: 13px;
    color: #1ccdca;
}

#recent-posts > button:after{
    content: "\279C";
    font-size: 13px;
    color:rgba(0, 0, 0, 0);
}

#recent-posts > button:hover:before{
    content: "\279C";
    font-size: 13px;
    color:rgba(0, 0, 0, 0);

}

#Cloud-tags > div > button{
    padding: 8px 9px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    color: #989898;
    font-weight: 500;
    letter-spacing: 1px;
}
#Cloud-tags > div > button:hover{
   border: 1px solid #1ccdca;
}

#light-black-bg p{
    color: #989898;
}
#author > div > img{
    height: 120px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: -15px;
}
#author > div{
    border-radius: 3px;
    margin-top: 40px;
    background-color: #ecf0f1;
}
#author > div > div > h5 > a{
    color: grey;
    font-weight: bold;
    text-align: left;
}
#author > div > div > div{
    color: grey;
}
#author > div > div > div > a{
   font-size: 13px;
    color:#777;
    margin: 0 14px 0 0;
}
#author > div > div > div > a:hover,
#author > div > div > h5 > a:hover{
    outline: none;
    text-decoration: none;
    text-underline: none;
    color: #1ccdca;
}

#dd > li.active > a,
#dd > li.active > a:hover{
    border-radius: 0;
    margin-right: 0;
    border-top: 3px solid #269abc; !important;
    border-bottom: 1px solid white;
}

#dd > li > a:hover,
#dd > li.active > a{
    background-color: white;
    border-radius: 0;
    margin-right: 0;
}

#dd > li {
    margin-right: 0;
}

#dd > li:not(.active) > a {
    border-top: 1px solid #e5e5e5;
    border-bottom: none;
}

#dd > li > a{
    margin-right: 0;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-top: 3px solid white;
    border-collapse: collapse;
}

.Flicker > div > a > img{
    width: 140%;
    padding: 0 7px 7px 0;
}

.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-top-15{
    margin-top:15px;
}

.footer-padding{
    padding: 35px 0 40px;
}

.border-l-r-b{
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.border-radius-sm{
    border-radius: 5px;
}
#CustomerInfo{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#CustomerInfo > div > div {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

#CustomerInfo > div > div > i,
#CustomerInfo > div > div > h3{
    font-size: 32px;
    padding: 15px;
}

#CustomerInfo > div > div > p{
    font-size: 22px;
    padding: 15px;
}
#CustomerInfo > div > div > i{
    color: #46b8da;
}

.footer-divider{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cyan-bg{
    background-color: #1ccdca;
}

.margin-right-30 {
    margin-right: 30px;
}

p {
    line-height: 24px;
    font-weight: 500;
}

#skills-bg {
    background-image: url("test_images/bg_header4.jpg");
    background-repeat: no-repeat;
}

#chose-about-bg {
    background-color: #f9fafc;
}

.gay-af-looking-bg-color{
    background-color: #f9fafc;
}

.white-bg {
    background-color: white;
}

#skills-bg-color {
    background-color: #3C464D;
}

.center-y {
    position: absolute;
    top: 20px;
}

#Services > div {
    margin-bottom: 60px;
}
#Form >  form > div > input,
#Form >  form > div > textarea{
    width: 80%;
    color: #324545;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}
#Form >  form > div > textarea{
    min-height: 200px;
}

#Form > form > div > .req:after {
    content: " *";
    color: red;
}

#Form > form > div{
     margin-top: 27px;
 }
#Form > form > div > label{
     line-height: 39px;
 }
#Form > form > .submit > input{
     color: white;
    font-weight: bold;
 }


.progress-info {
    height: 25px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.padding-top-bot-40 {
    padding-bottom: 40px;
    padding-top: 40px;
}

.padding-top-bot-90{
    padding-top: 90px;
    padding-bottom: 90px;
}

.progress-bar {
    border-radius: 3px;
}

.progress {
    height: 35px !important;
}

.progress-title {
    position: absolute;
    left: 15px;
    top: 7px;
}

.progress-right {
    position: absolute;
    right: 5px;
    top: 5px;
}

.relative {
    position: relative;
}

.left-center {
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translate(-50%, -50%);
}

.search {
    padding: 25px;
}

.nav-logo {
    padding: 15px;
}

.color-light-blue {
    color: lightskyblue;
}

.color-gray {
    color: gray;
}

header {
    background-color: #f9f9f9;
}

.word-spacing {
    word-spacing: 5px;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-95 {
    width: 95%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-20 {
    width: 20%;
}

.no-borders {
    border: none;
}

#shopping-cart {
    width: 37px;
    height: 37px;
    position: relative;
}

.padding-top-bot-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.margin-top-22 {
    margin-top: 22px;
}

.font-8 {
    font-size: 10px;
}

#shop-cart-number {
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    top: -9px;
    left: 27%;
    z-index: 33;
    background-color: white;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-20 {
    margin-right: 20px;
}

.padding {
    padding: 5px 5px;
}

.nav-bar {
    padding: 30px 10px;
}

.font-14 {
    font-size: 14px;
}

.borders {
    border: 1px solid lightgray;
}

.height-100 {
    border: 2px solid green;
    height: 100%;
}

.header-button {
    color: #8c8c8c;
    text-decoration: none;
    background-color: inherit;
    border: none;
    font-size: 10px;
}

.font-16 {
    font-size: 16px;
}

.font-12 {
    font-size: 12px;
}

.border-radius-full {
    border-radius: 50px;
}

.border-radius-full-pr {
    border-radius: 50%;
}

.rotate180 {
    transform: rotate(90deg);
}

.mirror {
    transform: scaleX(-1);
}

button {
    outline: none;
}

#shopping-cart:hover {
    background-color: white;
    border: 1px solid lightgray;
}

#lol:hover {
    color: lightskyblue;
}

input {
    outline: none;
}

.grid-part-1 {
    background-color: #1B2228;
}

.color-white {
    color: white;
}

.font-20 {
    font-size: 20px;
}

.block-84 {
    width: 84px;
    height: 84px;
    position: relative;
}

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font-32 {
    font-size: 32px;
}

.border-light-blue {
    border: 2px solid lightskyblue;
}

.padding-90 {
    padding: 90px;
}