
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: auto;
    position: absolute;
}

.container {
    width: 100vmax;
    height: 62.5vmax;
    background-color: lightblue;
}

.block {
    width: 25vmax;
    height: 25vmax;
    background-color: blue;
}

.container > .block {
    background-color: blue;
    border: none !important;
}

.rectangle > .block {
    background-color: red;
}

.block:nth-of-type(2n+0) {
    border: 2px solid black;
}

.rectangle:nth-of-type(2n+0) {
    background-color: yellow;
}

.rectangle {
    width: 60vmax;
    height: 25vmax;
    background-color: purple;
}

.block:hover {
    background-color: black;
}
